<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SquidQueue.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SquidQueue.My.MySettings>
            <setting name="PrinterName" serializeAs="String">
                <value>POS-58</value>
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value>C:\Users\vasilymakrov\Desktop\msiLogo_2017.bmp</value>
            </setting>
            <setting name="ScreenFont" serializeAs="String">
                <value>Century Gothic</value>
            </setting>
            <setting name="ScreenFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ScreenLabel" serializeAs="String">
                <value>SquidQueue</value>
            </setting>
            <setting name="PrinterInUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterFont" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="PrinterCalibrate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>7</string>
                        <string>18</string>
                        <string>28</string>
                        <string>40</string>
                        <string>7</string>
                        <string>18</string>
                        <string>28</string>
                        <string>40</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OmitCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlipTitle" serializeAs="String">
                <value>SquidQueue Очередь</value>
            </setting>
            <setting name="PrintDateAndTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlipFooter" serializeAs="String">
                <value>Сохраняйте купон до конца мероприятия! Он пригодится вам во время розыгрыша призов.</value>
            </setting>
            <setting name="PrintRaffle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RaffleComment" serializeAs="String">
                <value>ОПУСТИ МЕНЯ В БАРАБАН</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="ShowEstimatedTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ScreenFlash" serializeAs="String">
                <value>True</value>
            </setting>
        </SquidQueue.My.MySettings>
    </userSettings>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
</configuration>
